.sent{
    background-color: aqua;
    color: aqua;
}
.receve{
    background-color: blue;
    color: blue;
}
.messageSent{
    background-color: brown;
    color:white;
    margin: 10px;
}
img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}