header{
    background-color: rgba(0, 0, 0, 0.822);
    height: 50px;
    width: 100%;
}
.as_body{

 background-image: url("img1.wallspic.com-art-technology-atmosphere-pattern-digital_art-6080x3420.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 height: 90vh;
 color: rgb(233, 233, 233);
 
}