body{
    margin: 0%;
    padding: 0%;
}
header{
    background-color:black;
    z-index: 1;
    height: 50px;
    width: 100%;
    box-shadow: rgb(180, 179, 179) 0px 0px 5px 0px ;
   
}
.body{
}
.as_body{
 z-index: 0;
 background-image: url("img1.wallspic.com-art-technology-atmosphere-pattern-digital_art-6080x3420.jpg"); 
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 color: rgb(233, 233, 233); 
 
}
button{
 
}